@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


.list-products{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

#main-image{
    height: 400px;
    width: 100%;
}
.aboutsp{
    display: flex;
}
.nhacungcap{
    flex:50%;
    .col{
        span{
            font-weight: 700;
        }
    }
}
.rarting{
    display: flex;
        align-items: center;
    span{
        margin-left: 10px;
        font-weight: 700;
        font-size: 24px;
    }
}
.avt-ncc{
    top: 5px !important;
    right: 5px !important;
    left: auto !important;
    bottom: auto !important;
}
.mota{
    flex:50%;
    padding: 20px;
    box-shadow: 0px 3px 7px 0px #a8a8a8;
    margin: 5px;
    h5{
        color: rgb(224, 149, 38);
        i{
            cursor: pointer;
        }
    }
    .bot{
        a{
            margin: 20px 0;
            width: 100%;
            padding: 5px 10px;
            background-color: rgb(224, 149, 38);
            color:#000;
            &:hover{
                
            }
        }
    }
    
}
.title{
    width: 80%;
    margin: auto;
}
.mb-10{
    margin: 50px;
    a{
        color:#000;
        padding: 10px 100px;
        &:hover{
            color:white;
        }
    }
}
.btn-more{
    text-align: center;
    margin-top: 20px;
   
    a{
        color:#000;
        
        padding: 5px 20px;
    }
}
.comment{
    width: 90%;
    margin: auto;
    .icon{
        width: 28px;
    }
    .cmt{   
        margin:10px 0;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 3px 3px 7px 0px #a8a8a8;
        .cmt-top{
            display: flex;
            align-items: center;
            
            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 10px;
            }
            p{
                margin-right: 10px;
                margin-bottom: 0;
                margin-left: 10px;
            }
        }
    }
}

.breadcrumb a {
    text-decoration: none
}

.container {
    max-width: 1000px;
    padding: 0
}

p {
    margin: 0
}

.d-flex a {
    text-decoration: none;
    color: #686868
}
.gia{
    font-size:24px;
    color:#b71c1c;
}

.photo {
    width: 200px;
    height: 200px;
    border-radius: 70%;
    object-fit: cover
}

.fab.fa-twitter {
    color: #8ab7f1
}

.fab.fa-instagram {
    color: #E1306C
}

.fab.fa-facebook-f {
    color: #5999ec
}
/* CÁC SẢN PHẨM KHÁC */



.container {
    margin: 30px auto
}

.navbar-nav .nav-link {
    color: #000 !important;
    padding: 0.5rem 0rem !important;
    border-color: transparent;
    margin-left: 1.5rem;
    transition: none
}

.navbar .navbar-toggler:focus {
    box-shadow: none
}

.navbar-nav .nav-link.active,
.border-red {
    border-bottom: 3px solid #b71c1c
}

.navbar-nav .nav-link:hover {
    border-bottom: 3px solid #b71c1c
}

.container .product-item {
    min-height: 450px;
    border: none;
    overflow: hidden;
    position: relative;
    border-radius: 0
}

.container .product-item .product {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    cursor: pointer
}

.container .product-item .product img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.container .product-item .product .icons .icon {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s ease;
    transform: rotate(180deg);
    cursor: pointer
}

.container .product-item .product .icons .icon:hover {
    background-color: #b71c1c;
    color: #fff
}

.container .product-item .product .icons .icon:nth-last-of-type(3) {
    transition-delay: 0.2s
}

.container .product-item .product .icons .icon:nth-last-of-type(2) {
    transition-delay: 0.15s
}

.container .product-item .product .icons .icon:nth-last-of-type(1) {
    transition-delay: 0.1s
}

.container .product-item:hover .product .icons .icon {
    transform: translateY(-60px)
}

.container .product-item .tag {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
    position: absolute;
    top: 10px;
    left: 20px;
    padding: 0 0.4rem
}

.container .product-item .title {
    font-size: 0.95rem;
    letter-spacing: 0.5px
}

.container .product-item .fa-star {
    font-size: 0.65rem;
    color: goldenrod
}

.container .product-item .price {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600
}

.fw-800 {
    font-weight: 800
}

.bg-green {
    background-color: #208f20 !important;
    color: #fff
}

.bg-black {
    background-color: #1f1d1d;
    color: #fff
}

.bg-red {
    background-color: #bb3535;
    color: #fff
}

@media (max-width: 767.5px) {

    .navbar-nav .nav-link.active,
    .navbar-nav .nav-link:hover {
        background-color: #b71c1c;
        color: #fff !important
    }

    .navbar-nav .nav-link {
        border: 3px solid transparent;
        margin: 0.8rem 0;
        display: flex;
        border-radius: 10px;
        justify-content: center
    }
}
.share-fb{
    align-items: center;
    display: flex;
    justify-content: space-between;
    i{  
        margin-left: 20px;
        
        color:#ffffff;
        
    }
}

@media only screen and (max-width: 770px){
    .list-products{
        .san-pham{
            flex-basis:23%;
        }
    }
}

@media only screen and (max-width: 570px){
   .aboutsp{
       flex-direction: column;
   }
   .list-products{
    .san-pham{
        flex-basis:45%;
    }
}
}