.dashboard {
  margin: 20px;
  width: auto;

  .coldash {
    display: flex;
    justify-content: center;
  }
  .note-das{
    color:red;
    font-size: 13px !important;
    font-weight: 600;
  }

  .summary {
    
    margin: 10px;
    padding: 10px;
    box-shadow: 2px 15px 15px rgb(206, 204, 204);
    background: #f1f1f1;
    border-radius: 10px;
    .summary-header {
      border-bottom: 1px solid black;
      display: flex;
      justify-content: space-between;
      align-items: center;
      i {
        font-size: 25px;
        cursor: pointer;
      }
    }
    .summary-body {
      display: flex;
      margin-top: 10px;
      flex-direction: column;
      flex: 1;
      .sum-row {
        display: flex;
        font-weight: 700;
        align-items: center;
        color: #0d284d;
        img {
          margin-right: 10px;
          width: 50px;
          height: 50px;
        }
        span {
          font-size: 20px;
        }
        p {
          font-size: 30px;
        }
      }
    }
    .card {
      margin: 10px;
      padding: 10px;
      background-image: linear-gradient(to top right, #0d284d, #113cfc);
      box-shadow: 3px 3px 7px 0px #a8a8a8;
      color: white;
      h5 {
        font-size: 18px;
      }
      span {
        font-size: 28px;
        font-weight: 700;
      }
      .help {
        font-size: 12px;
      }
      .card-bot {
        display: flex;
      }
      a {
        color: white;
        text-decoration: none;
        padding: 5px 20px;
        margin: 10px;
        border: 2px solid white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        width: 50%;
        font-weight: 700;
        i {
          margin-left: 10px;
          font-size: 18px;
        }
        &:hover {
          background: white;
          color: #0d284d;
        }
      }
    }
    .sum-col {
      display: flex;
      justify-content: space-evenly;
      .sum-box {
        flex: 1;
        margin: 10px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
        border-radius: 10px;
        cursor: pointer;
        &:hover{
            background:#e6e6e6;
        }
        img {
          width: 30px;
          height: 30px;
        }
        span {
          font-weight: 700;
          font-size: 18px;
          text-align: center;
        }
        p {
         
          margin-bottom: -5px;
          margin: 0;
          font-size: 22px;
        }
      }
    }

    .tong-row {

      .tong-col {
        display: flex;
        flex-direction: column;
          margin: 10px;
          box-shadow: 3px 3px 7px 0px #a8a8a8;
          .chart{
            img{
                width: 100%;
                height:100%;
            }
        }
        img {
          width: 60px;
          height: 60px;
        }
        .tong-header {
          display: flex;
          flex-direction: column;
          align-items: center;

          span {
            font-size: 20px;
            font-weight: 700;
          }
          p {
            font-size: 28px;
          }
        }
        .tong-body {
            
          span {
            font-weight: 700;
          }
          ul {
            list-style: none;
            padding-left: 0;
            margin-top: 10px;
            li {
              font-size: 13px;
              img {
                width: 30px;
                height: 30px;
              }
            }
          }
          .card-bot {
            display: flex;
          }
          a {
            text-decoration: none;
            padding: 5px 20px;
            margin: 10px;

            background: white;
            color: #0d284d;
            border: 2px solid #0d284d;
            border-radius: 20px;
            display: flex;
            align-items: center;

            font-weight: 700;
            i {
              margin-left: 10px;
              font-size: 18px;
            }
            &:hover {
              background: #113cfc;
              color: #ffffff;
              border: 2px solid #ffffff;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px){
    .dashboard{
        .coldash{
            flex-direction: column;
        }
        .tong-row{
            flex-direction: column;
        }
    }
}


